<%- include("partials/header.ejs") %>
    <div style="text-align: justify;" class="ui raised very padded text container segment">
        <h1 class="ui header">Antivirus</h1>
        <hr>
        <h2>Antivirus</h2>
        <p>Software that is created specifically to help detect, prevent and remove malware (malicious software).
            Antivirus is a kind of software used to prevent, scan, detect and delete viruses from a computer. Once
            installed, most antivirus software runs automatically in the background to provide real-time protection
            against virus attacks.
            Comprehensive virus protection programs help protect your files and hardware from malware such as worms,
            Trojan horses and spyware, and may also offer additional protection such as customizable firewalls and
            website blocking.</p>
        <p><strong>Antivirus programs and computer protection software</strong></p>
        <ul>
            <li>Antivirus programs and computer protection software are designed to evaluate data such as web pages, files, software and applications to help find and eradicate malware as quickly as possible.</li>
            <li>Most provide real-time protection, which can protect your devices from incoming threats; scan your entire computer regularly for known threats and provide automatic updates; and identify, block and delete malicious codes and software.</li>
            <li>Because so many activities are now conducted online and new threats emerge continuously, it’s more important than ever to install a protective antivirus program. Fortunately, there are a number of excellent products on the market today to choose from.</li>
        </ul>
        <p><strong>How does antivirus work?</strong></p>
        <p>
            Antivirus software begins operating by checking your computer programs and files against a database of known types of malware. Since new viruses are constantly created and distributed by hackers, it will also scan computers for the possibility of new or unknown type of malware threats.
        </p>
        <p>
            Typically, most programs will use three different detection devices: specific detection, which identifies known malware; generic detection, which looks for known parts or types of malware or patterns that are related by a common codebase; and heuristic detection, which scans for unknown viruses by identifying known suspicious file structures. When the program finds a file that contains a virus, it will usually quarantine it and/or mark it for deletion, making it inaccessible and removing the risk to your device.
        </p>
    </div>
    <%- include("partials/footer.ejs") %>