<%- include("partials/header.ejs") %>
    <div class="ui four column doubling stackable grid container">
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Viruses</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Blog on Viruses</h4>
                </div>
                <div class="extra content">
                    <a href="/blogs/virus" class="ui button">See Blog</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Malware Spam</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Blog on Malware Spam</h4>
                </div>
                <div class="extra content">
                    <a href="/blogs/malware" class="ui button">See Blog</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Antivirus</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Blog on Antivirus</h4>
                </div>
                <div class="extra content">
                    <a href="/blogs/antivirus" class="ui button">See Blog</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Cyber Laws</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Blog on cyber laws</h4>
                </div>
                <div class="extra content">
                    <a href="/blogs/cyber" class="ui button">See Blog</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Worms</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Blog on Worms</h4>
                </div>
                <div class="extra content">
                    <a href="/blogs/worms" class="ui button">See Blog</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Security Tools</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Blog on security tools</h4>
                </div>
                <div class="extra content">
                    <a href="/blogs/security" class="ui button">See Blog</a>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>