<%- include("partials/header.ejs") %>
    <div style="text-align: justify;" class="ui raised very padded text container segment">
        <h1 class="ui header">Cyber Laws</h1>
        <hr>
        <h2>Cyber Laws</h2>
        <p>Cyber law is the part of the overall legal system that deals with the Internet, cyberspace, and their
            respective legal issues. Cyber law covers a fairly broad area, encompassing several subtopics including
            freedom of expression, access to and usage of the Internet, and online privacy. Generically, cyber law is
            referred to as the Law of the Internet.</p>
        <p><strong>Why are cyber laws needed?</strong></p>
        <p>Like any law, a cyber law is created to help protect people and organizations on the Internet from malicious
            people on the Internet and help maintain order. If someone breaks a cyber law or rule, it allows another
            person or organization to take action against that person or have them sentenced to a punishment.</p>
        <p><strong>What happens if you break a cyber law</strong></p>
        <p>There are different forms of punishment depending on the type of cyber law you broke, who you offended, where
            you broke the law, and where you live. In many situations, breaking the rules on a website result in your
            account becoming suspended or banned and your IP addressed blocked. To determine the consequences of your
            action for minor offenses, we recommend reviewing the companies terms of service or rules.
            If you've committed a more serious offense such as hacking, attacking another person or website, or causing
            another person or company distress, additional action may be taken against you.</p>
        <p><strong>Importance of cyber law</strong></p>
        <p>Cyber laws are formed to punish people who perform any illegal activities online. They are important to
            punish related to these types of issues such as online harassment, attacking another website or individual,
            data theft, disrupting the online workflow of any enterprise and other illegal activities.

            If anyone breaks a cyber law, the action would be taken against that person on the basis of the type of
            cyberlaw he broke, where he lives, and where he broke the law. It is most important to punish the criminals
            or to bring them to behind bars, as most of the cybercrimes cross the limit of crime that cannot be
            considered as a common crime.

            These crimes may be very harmful for losing the reliability and confidentiality of personal information or a
            nation. Therefore, these issues must be handled according to the laws.</p>
        <ul>
            <li>When users apply transactions on the Internet, cyber law covers every transaction and protect them.
            </li>
            <li>It touches every reaction and action in cyberspace.
            </li>
            <li>It captures all activities on the Internet.</li>
        </ul>
    </div>
    <%- include("partials/footer.ejs") %>