<%- include("partials/header.ejs") %>
    <div style="margin-top: 50px;" class="ui three column doubling stackable grid container">
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Static Webpage</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Static webpage with css, embedded audio, video , etc.</h4>
                </div>
                <div class="extra content">
                    <a href="/static" class="ui button">Go</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Graphical Element</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Website which uses Graphical Element like pie chart and line chart</h4>
                </div>
                <div class="extra content">
                    <a href="https://c-19-app.herokuapp.com/covid" class="ui button">Go</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Multiple webpage</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">A Website which have Multiple webpages</h4>
                </div>
                <div class="extra content">
                    <a href="https://c-19-app.herokuapp.com/covid" class="ui button">Go</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Blogs</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Check various blogs on iwt</h4>
                </div>
                <div class="extra content">
                    <a href="/blogs" class="ui button">Go</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header">Plagiarism</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">Learn everything about plagiarism</h4>
                </div>
                <div class="extra content">
                    <a href="/plagiarism" class="ui button">Go</a>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>