<%- include("partials/header.ejs") %>
    <div style="text-align: justify;" class="ui raised very padded text container segment">
        <h1 class="ui header">Plagiarism</h1>
        <hr>
        <h2>Plagiarism</h2>
        <p>Many people think of plagiarism as copying another's work or borrowing someone else's original ideas. But
            terms like "copying" and "borrowing" can disguise the seriousness of the offense:</p>
        <p><strong>According to the Merriam-Webster online dictionary, to "plagiarize" means:</strong></p>
        <ul>
            <li>to steal and pass off (the ideas or words of another) as one's own</li>
            <li>to use (another's production) without crediting the source</li>
            <li>to commit literary theft</li>
            <li>to present as new and original an idea or product derived from an existing source</li>
        </ul>
        <p>In other words, plagiarism is an act of fraud. It involves both stealing someone else's work and lying about
            it afterward.</p>
        <p><strong>All of the following are considered plagiarism:</strong></p>
        <ul>
            <li>turning in someone else's work as your own</li>
            <li>copying words or ideas from someone else without giving credit</li>
            <li>failing to put a quotation in quotation marks</li>
            <li>giving incorrect information about the source of a quotation</li>
            <li>changing words but copying the sentence structure of a source without giving credit</li>
            <li>copying so many words or ideas from a source that it makes up the majority of your work, whether you
                give credit or not (see our section on "fair use" rules)</li>
        </ul>
        <p><strong>What about images, videos, and music?</strong></p>
        <p>Using an image, video or piece of music in a work you have produced without receiving proper permission or providing appropriate citation is plagiarism. The following activities are very common in today’s society. Despite their popularity, they still count as plagiarism.</p>
        <ul>
            <li>Copying media (especially images) from other websites to paste them into your own papers or websites.</li>
            <li>Making a video using footage from others’ videos or using copyrighted music as part of the soundtrack.</li>
            <li>Performing another person’s copyrighted music (i.e., playing a cover).</li>
            <li>Composing a piece of music that borrows heavily from another composition.</li>
        </ul>
        <p>The legality of these situations, and others, would be dependent upon the intent and context within which they are produced. The two safest approaches to take in regards to these situations is: 1) Avoid them altogether or 2) Confirm the works’ usage permissions and cite them properly.</p>
    </div>
    <%- include("partials/footer.ejs") %>