<%- include("partials/header.ejs") %>
    <div style="text-align: justify;" class="ui raised very padded text container segment">
        <h1 class="ui header">Virus</h1>
        <hr>
        <h2>Virus</h2>
        <p>A virus is a computer code or program, which is capable of affecting your computer data badly by corrupting
            or destroying them.

            Computer virus has the tendency to make its duplicate copies at a swift pace, and also spread it across
            every folder and damage the data of your computer system.

            A computer virus is actually a malicious software program or "malware" that, when infecting your system,
            replicates itself by modifying other computer programs and inserting its own code.

        </p>
        <p><strong>Types of Virus</strong></p>
        <ul>
            <li><strong>Worms </strong>This is a computer program that replicates itself at a swift pace. Unlike a
                computer virus, it is self-contained and hence does not need to be part of another program to propagate
                itself.</li>
            <li><strong>Trojan Horse </strong>A Trojan Horse is also a sort of destructive program that remains
                disguised in a normal software program. It is not exactly a virus, as it cannot replicate itself.
                However, there is possibility that virus program may remain concealed in the Trojan Horse.</li>
            <li><strong>Bombs </strong>It is similar to Trojan Horse, but Logic bombs have some specialty; these include
                a timing device and hence it will go off only at a particular date and time.</li>
        </ul>
        <p><strong>How does virus affect?</strong></p>
        <p>Let us discuss in what ways a virus can affect your computer system. The ways are mentioned below −</p>
        <ul>
            <li>By downloading files from the Internet.</li>
            <li>During the removable of media or drives.</li>
            <li>Through pen drive.</li>
            <li>Through e-mail attachments.
            </li>
            <li>Through unpatched software & services.</li>
            <li>hrough unprotected or poor administrator passwords.</li>
        </ul>
        <p><strong>Impact of virus</strong></p>
        <p>Let us now see the impact of virus on your computer system −</p>
        <ul>
            <li>Disrupts the normal functionality of respective computer system.
            </li>
            <li>Disrupts system network use.
            </li>
            <li>Modifies configuration setting of the system.</li>
            <li>Destructs data.</li>
            <li>Disrupts computer network resources.</li>
            <li>Destructs of confidential data.</li>
        </ul>
        <p><strong>Virus Detection</strong></p>
        <p>The most fundamental method of detection of virus is to check the functionality of your computer system;
            a virus affected computer does not take command properly.

            However, if there is antivirus software in your computer system, then it can easily check programs and
            files on a system for virus signatures.</p>
    </div>
    <%- include("partials/footer.ejs") %>