<%- include("partials/header.ejs") %>
    <div style="text-align: justify;" class="ui raised very padded text container segment">
        <h1 class="ui header">Worm</h1>
        <hr>
        <h2>Worm</h2>
        <p>A computer worm is a type of malware that spreads copies of itself from computer to computer. A worm can
            replicate itself without any human interaction, and it does not need to attach itself to a software program
            in order to cause damage.</p>
        <p><strong>How do they work</strong></p>
        <p>Worms can be transmitted via software vulnerabilities. Or computer worms could arrive as attachments in spam
            emails or instant messages (IMs). Once opened, these files could provide a link to a malicious website or
            automatically download the computer worm. Once it’s installed, the worm silently goes to work and infects
            the machine without the user’s knowledge.
            <br>
            Worms can modify and delete files, and they can even inject additional malicious software onto a computer.
            Sometimes a computer worm’s purpose is only to make copies of itself over and over — depleting system
            resources, such as hard drive space or bandwidth, by overloading a shared network. In addition to wreaking
            havoc on a computer’s resources, worms can also steal data, install a backdoor, and allow a hacker to gain
            control over a computer and its system settings.
        </p>
        <p><strong>How to detect worm</strong></p>
        <p>If you suspect your devices are infected with a computer worm, run a virus scan immediately. Even if the scan
            comes up negative, continue to be proactive by following these steps.</p>
        <ul>
            <li>Keep an eye on your hard drive space. When worms repeatedly replicate themselves, they start to use up
                the free space on your computer.</li>
            <li>Monitor speed and performance. Has your computer seemed a little sluggish lately? Are some of your
                programs crashing or not running properly? That could be a red flag that a worm is eating up your
                processing power.</li>
            <li>Be on the lookout for missing or new files. One function of a computer worm is to delete and replace
                files on a computer.</li>
        </ul>
        <p><strong>How to protect computer against worms</strong></p>
        <p>Computer worms are just one example of malicious software. To help protect your computer from worms and other
            online threats, take these steps.</p>
        <ul>
            <li>Since software vulnerabilities are major infection vectors for computer worms, be sure your computer’s
                operating system and applications are up to date with the latest versions. Install these updates as soon
                as they’re available because updates often include patches for security flaws.
            </li>
            <li>Phishing is another popular way for hackers to spread worms (and other types of malware). Always be
                extra cautious when opening unsolicited emails, especially those from unknown senders that contain
                attachments or dubious links.
            </li>
            <li>Be sure to invest in a strong internet security software solution that can help block these threats. A
                good product should have anti-phishing technology as well as defenses against viruses, spyware,
                ransomware, and other online threats.
            </li>
        </ul>
    </div>
    <%- include("partials/footer.ejs") %>